body{
    margin: 0px;
}
.navbar{
width: 100%;
height: 50px;
background-color: black;
display: flex;
align-items: center;
padding: 8px;
 
}
.navbar a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}
.navbar a:hover{
    color: rgb(238, 229, 212);
    letter-spacing: 2px;
    font-size: 28px;
}
.container{
    display: flex;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    margin-top: 40px;
}
.intro{
flex-basis: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.intro h1{
    font-size: 50px;
    margin-bottom: 0px;
    width: 350px;
}
.intro p{
    margin-top: 0px;
    font-size: 20px;
    width: 350px;
}
.gif{
    flex-basis: 100%;    
}
.eat{
    width: 100%;
}
.project-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.project{
    width: 350px;
    text-align: center;
    
}
.project h2{
    margin-top: 0px;
    margin-bottom: 0px;
  
}
.project-wrap{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 40px;
    row-gap: 20px;
}
.img3{
    width: 350px;
}
.detail{
    font-size: 16px;
    padding: 4px 16px;
    cursor: pointer;
}
.proj-det{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 40px;
}
.proj-det a{
    text-decoration: none;
    border-radius: 10px;
    padding: 6px 16px;
    background-color: black;
    color: white;
    font-size: 16px;
}
.project a{
    text-decoration: none;
    border-radius: 10px;
    padding: 6px 16px;
    background-color: black;
    color: white;
    font-size: 16px; 
}
.project a:hover{
    background-color: rgba(0, 0, 0, 0.664);
    letter-spacing: 2px;
}
.proj-det a:hover{
    background-color: rgba(0, 0, 0, 0.664);
    letter-spacing: 2px;
}
.detail-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.image{
    flex-basis: 100%;
    padding: 20px;
}
.det-img{
      width: 100%;
}
.description{
    flex-basis: 100%;
    padding: 20px;
}
.about{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 40px;
    
}
.about-section{
    display: flex;
    column-gap: 20px;
    align-items: center;
    text-align: center;
}
.profile-image{
    flex-basis: 40%;
}
.about-profile{
    flex-basis: 80%;
}
.about-profile a{
    text-decoration: none;
    border-radius: 10px;
    padding: 6px 16px;
    background-color: black;
    color: white;
    font-size: 16px; 
}
.about-profile a:hover{
    background-color: rgba(0, 0, 0, 0.664);
    letter-spacing: 2px;
}
.pic{
    width: 100%;
}
.icon{
    width: 40px;
    margin-right: 20px;
}
.contact-form{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    margin-top: 40px;
    
}
.name,.email,.message{
    margin-top: 24px;
    font-size: 28px;
    width: 100%;
}
.form{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-image:linear-gradient(black,transparent) ;
    height: auto;
    padding: 100px 30px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thanks-msg{
    text-align: center;
}
input{
   
    padding: 6px 12px;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
}
textarea{
    width: 100%;
    height: 150px;
    font-size: 20px;
    box-sizing: border-box;
}
.thanks-msg{
    margin-top: 20px;
    text-align: center;
}
.thanks-msg p{
    margin-top: 40px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}