body{
    margin: 0px;
}
.navbar{
width: 100%;
height: 50px;
background-color: black;
display: flex;
align-items: center;
padding: 8px;
box-sizing: border-box;
 
}
.navbar a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}
.navbar a:hover{
    color: rgb(240, 159, 10);
    letter-spacing: 2px;
    font-size: 28px;
    text-decoration: line-through;
}
.container{
    display: flex;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    margin-top: 40px;
    box-sizing: border-box;
    
}
.intro{
flex-basis: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
box-sizing: border-box;


}
.intro h1{
    font-size: 80px;
    margin-bottom: 0px;
    width: 350px;
}
.intro h2{
    width: 350px;
    font-size: 50px;
    margin-bottom: 0px;
}
.intro h3{
    width: 350px;
    margin-top: 0px; 
}
.intro p{
    margin-top: 0px;
    font-size: 20px;
    width: 350px;
    margin-top: 0px;
}
.gif{
    flex-basis: 100%; 
    box-sizing: border-box;   
}
.eat{
    width: 100%;
}
.project-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
}
.project{
    max-width: 350px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.397);
    box-sizing: border-box;
}
.project h2{
   
    margin-bottom: 0px;
  
}
.project-wrap{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 40px;
    row-gap: 40px;
    box-sizing: border-box;
}
.img3{
    width: 100%;
}
.detail{
    font-size: 16px;
    padding: 4px 16px;
    cursor: pointer;
}
.proj-det{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 40px;
}
.proj-det a{
    text-decoration: none;
    border-radius: 10px;
    padding: 6px 16px;
    background-color: black;
    color: white;
    font-size: 16px;
}
.project a{
    text-decoration: none;
    border-radius: 10px;
    padding: 6px 16px;
    background-color: black;
    color: white;
    font-size: 16px;
    margin-top: 10px;
}
.project a:hover{
    background-color: rgba(0, 0, 0, 0.664);
    letter-spacing: 2px;
}
.proj-det a:hover{
    background-color: rgba(0, 0, 0, 0.664);
    letter-spacing: 2px;
}
.detail-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.image{
    flex-basis: 100%;
    padding: 20px;
}
.det-img{
      width: 100%;
}
.description{
    flex-basis: 100%;
    padding: 20px;
}
.about{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 40px;
    
}
.about-section{
    display: flex;
    column-gap: 40px;
    align-items: center;
}
.profile-image{
    flex-basis: 20%;
  
}
.about-profile{
    flex-basis: 80%;
}
.about-profile a{
    text-decoration: none;
    border-radius: 10px;
    padding: 6px 16px;
    background-color: black;
    color: white;
    font-size: 16px; 
}
.about-profile a:hover{
    background-color: rgba(0, 0, 0, 0.664);
    letter-spacing: 2px;
}
.pic{
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(26, 21, 21, 0.356);
}
.social-media{
    margin-top: 50px;
}
.icon{
    width: 40px;
    margin-right: 20px;
}


.form{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-image:linear-gradient(rgba(0, 0, 0, 0.849),transparent) ;
    height: auto;
    padding: 100px 30px;
    border-radius: 10px;
    text-align: center;
    margin-top: 40px;
}
input{
    padding: 6px 12px;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    outline: none;
}
textarea{
    width: 100%;
    height: 180px;
    font-size: 20px;
    box-sizing: border-box;
    padding: 6px 12px;
    margin-top: 20px;
    outline: none;
}

.message{
    margin-top: 40px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}
.btn{
    border-radius: 10px;
    padding: 8px 20px;
    background-color: black;
    color: white;
    font-size: 16px; 
    border: 0px; 
    margin-top: 24px;  
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.664);
    letter-spacing: 2px; 
}

.hidden {
    display: none;
}


@media screen  and (max-width:600px) and (min-width:320px){
  .container{
      flex-direction: column;
     
      box-sizing: border-box;
  }
  .intro{
      text-align: center;
  }
  .intro p{
      width: 250px;
  }
  .gif{
      padding: 12px;
     margin-top: 40px;
      box-sizing: border-box;
  }
  .navbar a{
      font-size: 16px;
      margin-left: 12px;
  }
  .navbar a:hover{
  font-size: 20px;
  }
    .project-wrap{
        column-gap: 20px;
        row-gap: 20px; 
        grid-template-columns: 100%;
        align-items: center;
        text-align: center;
    }
   .project{
    margin-left: auto;
    margin-right: auto;  
   }
   .about-section{
       flex-direction: column;
   }
   .about{
       padding: 12px;
       box-sizing: border-box;
   }
   .container3{
       padding: 12px;
   }
   .detail-container{
       flex-direction: column;
   }
   .proj-det{
       padding: 12px;
       box-sizing: border-box;
   }
   .image{
       box-sizing: border-box;
   }
   .description a:hover{
       letter-spacing:1px;
   }

}
@media  all and (max-width:800px) and (min-width:601px){
    .project-wrap{
        grid-template-columns: 50% 50%;
        column-gap: 10px;
        row-gap: 10px; 
    }
}